{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "comments": false,
  "plugins": [["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ]]]
  }
